<?xml version="1.0" encoding="utf-8"?>
<manifest package="test.lygzb.com.pressure"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 锁屏后继续运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".network.NetActivity"
            android:label="@string/title_activity_net"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".systemset.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".electrical.ChildElectricalActivity"
            android:label="@string/title_activity_child_electrical"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".electrical.ChooseElectricalActivity"
            android:label="@string/title_activity_choose_electrical"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".main.WebLinkActivity"
            android:label="@string/title_activity_web_link"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".main.Main3Activity"
            android:label="@string/title_activity_main3"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".main.SortActivity"
            android:label="@string/title_activity_sort"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chain.ChainActivity"
            android:label="@string/title_activity_chain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".loop.ChildLoopActivity"
            android:label="@string/title_activity_child_loop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chain.EventActivity"
            android:label="@string/title_activity_event"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chain.EventHandlerActivity"
            android:label="@string/title_activity_event_handler"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".chain.ChildChainActivity"
            android:label="@string/title_activity_child_chain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".timing.ChildTimingActivity"
            android:label="@string/title_activity_child_timing"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".timing.TimerActivity"
            android:label="@string/title_activity_timer"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".loop.DurationActivity"
            android:label="@string/title_activity_duration"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".loop.DurationListActivity"
            android:label="@string/title_activity_duration_list"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".systemset.SystemSetActivity"
            android:label="@string/title_activity_system_set"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".esptouch.EsptouchActivity"
            android:label="@string/title_activity_esptouch"
            android:theme="@style/MyAppTheme">
        </activity>

        <receiver
            android:name=".service.DownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".guaguamouth.ChildGuaguaActivity"
                  android:label="@string/guagua"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".guaguamouth.AddGuguaMouthActivity"
                  android:label="@string/title_activity_add_guagua_mouth"
                  android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".guaguamouth.AddGuaguaEventActivity"
            android:label="@string/title_activity_add_guagua_event"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>